<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test name="Test01">
		<parameter name="browser" value="CHROME" />
		<classes>
			<class name="crossbrowser.TestCrossBrowser"/>
		</classes>
	</test> <!-- Test -->

	<test name="Test02">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="crossbrowser.TestCrossBrowser"/>
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->